<div class="container">


	<div class="card-list">
	<% @prof.each do |profile| %>
	  
	  <%= link_to show_profile_path(profile.user_id) do %>
		  <div class="card" style="width: 18rem;">
		  	<% if profile.prof_image_url.nil? %>
		      <%= image_tag('noicon.jpg', :class => "card-img-top") %>
		    <% else %>
		      <%= image_tag(profile.prof_image_url, :class => "card-img-top") if profile.prof_image.present? %>
		    <% end %>
			  
			  <div class="card-body">
			    <h5 class="card-title"><%= profile.name %></h5>
			    <p class="card-text">
			    	<div class="country"><%= profile.country %></div>
			    	<div class="job"><%= profile.jobs %></div>
			    	<div class="biography"><%= profile.biography %>
			    	</div>
			    </p>
			  </div>
			</div>
		<% end %>

	<% end %>
	</div>
	
</div>
