

<div class="edit">
	<div class="container profile__edit">
		<div class="row">
			<div class="setting col-md-3">
				<%= render 'shared/setting_side' %>
			</div>
			<div class="profile col-md-9">

				<% if @profile.errors.present? %>
					<ul>
				  	<% @profile.errors.full_messages.each do |message| %>
				  	  <li><%= message %></li>
				  	<% end %>
				  </ul>
				<% end %>
			
		<%= form_for @profile, url: profile_path do |f| %>
		  	<h1>プロフィール編集</h1>

				  <div class="form-row">

				    <div class="form-group col-md-6">
				    	<%= f.label :name %>
				      <%= f.text_field :name, :class => "form-control #{'is-error' if @profile.errors[:name].present?} " %>
				    </div>

				    <div class="form-group col-md-3">
				    	<%= f.label :country %>
						  <%= f.text_field :country, :class => 'form-control' %>
				    </div>

				    <div class="form-group col-md-3">
						  <%= f.label :age %>
					  	<%= f.text_field :age ,:class => 'form-control' %>
					  </div>

				  </div>

	 				<div class="form-row">

				    <div class="form-group col-md-6">
					  	<%= f.label :jobs %>
						  <%= f.text_field :jobs, :class => 'form-control' %>
						</div>

					</div>
					
					<div class="form-row">

				    <div class="form-group col-md-12">
							<%= f.label :biography %>
						  <%= f.text_area :biography, :class => 'form-control' %>
						</div>

					</div>

				  
					<div class="form-row prof_image">
						<div class="form-group col-md-12">
						<%= f.label :prof_image %>
						<%= image_tag(@profile.prof_image_url) if @profile.prof_image.present? %>
				    
				    <%= f.file_field :prof_image, id: :book_picture %>
				    </div>
					<div>
				  	<%= f.submit "保存" %>
				  </div>
				<% end %>

			</div>
		</div>
	</div>
</div>

