<!DOCTYPE html>
<html>
  <head>
    <title>コミュっと！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header class="gnav">
      <div class="container gnav__inner">
        <div class="gnav__left"><a href="/">コミュっと！</a></div>
          <div class="gnav__right">
            <% if user_signed_in? %>
              <%= link_to "ユーザ一覧", root_path, { :class => "#{'is-active' if current_page?(root_path)}" } %>
              <%= link_to "掲示板", article_path, { :class => "#{'is-active' if current_page?('/article')}" } %>
              <div class="dropdown">

                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <% if current_user.profile.nil? || current_user.profile.prof_image_url.nil? %>
                  <%= image_tag('noicon.jpg') %>
                <% else %>
                  <%= image_tag(current_user.profile.prof_image_url) if current_user.profile.prof_image.present? %>
                <% end %>

                </button>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2"> 
                  <%= link_to "プロフィール編集", profile_path, { :class => "dropdown-item" } %>
                  <%= link_to("ログアウト", destroy_user_session_path, { method: :delete, data: {confirm: "ログアウトしますか？"}, class: "dropdown-item"}) %>
                </div>
              </div>

            <% else %>

              <%= link_to "ログイン", new_user_session_path, { :class => "login" } %>

            <% end %>

        </div>
      </div>
    </header>

    <p class="notice">
      <%= notice %>
    </p>

    <% if user_signed_in? %>

    <div class="container common__body">

      <div class="row">
        

        <!-- メイン -->
        <div class="col-sm-12">
          <%= yield %>
        </div>

      </div>

    </div>
    
    <% else %>

      <%= yield %>

    <% end %>


    <p class="alert"><%= alert %></p>

  </body>
</html>
