<!DOCTYPE html>
<html>
  <head>
    <title>コミュっと！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="gnav">
      <div class="container gnav__inner">
        <div class="gnav__left">コミュっと！</div>
        <div class="gnav__right">ログイン</div>
      </div>
    </header>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
